version: 2.1

# Orchestrate our job run sequence
workflows:
  build_test_deploy:
    jobs:
      - deploy
      # - build
      # - deploy:
      #     requires:
      #       - build
      #     filters:
      #       branches:
      #         only: main

# Define the jobs we want to run for this project
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: Building the Docker Image
          command: |
            docker build -t harjyotbagga/react-test-proj -f Dockerfile.dev .
      - run:
          name: Testing the Docker Image
          command: |
            docker run -e CI=true harjyotbagga/react-test-proj npm run test
  deploy:
    machine:
      image: circleci/classic:201808-01
    steps:
      - checkout
      - run:
          name: Setting up Python v3.7.0
          command: |
            pyenv versions
            pyenv global 3.7.0
      - run:
          name: Install AWS CLI & EB CLI
          command: |
            pip install --upgrade pip
            pip install awscli
            pip install awsebcli
      - run:
          name: Exporting ENV Variables
          command: |
            sh ./.circleci/aws_creds.sh
      - run:
          name: Deploying to AWS
          command: |
            eb use $AWS_PROJ_ENV_NAME
            eb deploy
